<h1>Weather in <%= @weather.city %>:</h1>

<h2>Current Temperature:<br> <%= @weather.temp_farenheit %> degrees Farenheit<br> (<%= @weather.temp_celsius %> degrees Celsius).</h2>

<h2>Today's high: <br><%= @weather.high_farenheit %> F (<%= @weather.high_celsius %> C)</h2>
<h2>Today's low: <br><%= @weather.low_farenheit %> F (<%= @weather.low_celsius %> C)</h2>



